
.circleBigImg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #181A1B;
    color: #E8E6E3;
}

.iconMid {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.projectIcon {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 15%;
}

.simpleLink {
    text-decoration: none !important;
}

.buttonSoftLink {
    background-color: #25292A;
    color: #E8E6E3;
}

.buttonSoftLink:hover {
    color: white;
}